<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EmpleoExprés | Empleos</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <nav th:replace="~{fragments/loggedin.html :: navbar }"></nav>
    <div class="m-2">
        <a class="btn text-info" onclick="history.back();"><i class="bi bi-arrow-left-square"></i> Volver</a>
        <div class="row">
            <div class="col-md-10 p-3">
                <h1 th:text="${job.title}"></h1>
                <table class="table table-borderless border fs-7">
                    <tr>
                        <th>Modalidad</th>
                        <td th:text="${job.getJobMode().getModality()}" class="border-end"></td>
                        <th>Estado</th>
                        <td th:text="${job.getState().getState()}" class="border-end"></td>
                        <th>Salario</th>
                        <td class="border-end"><span th:text="${#numbers.formatInteger(job.getSalary(),0,'POINT')}"></span> COP</td>
                        <th>Experiencia requerida</th>
                        <td class="border-end"><span th:text="${job.getYearsOfExperience() == 0 ? '0' : job.getYearsOfExperience()}"></span> años</td>
                    </tr>
                    <tr>
                        <th>Ubicación</th>
                        <td class="border-end">
                            <span th:if="${job.getLocation()!=null}" th:text="${job.getLocation().getName()}"></span>
                            <span th:unless="${job.getLocation()!=null}">No especificada</span>
                        </td>
                        <th>Profesión relacionada</th>
                        <td th:text="${job.getProfession().getCertificateName()}" class="border-end"></td>
                        <th>Fecha de publicación</th>
                        <td th:text="${job.getPubDateTime()}" class="border-end"></td>
                        <th>Candidatos aplicados</th>
                        <td class="border-end" th:text="${job.getApplicationCount()}"></td>
                    </tr>
                </table>
                <div class="card text-bg-light mb-3">
                    <div class="card-header">Descripción de la oferta</div>
                    <div class="card-body">
                        <p class="card-text with-breaklines" th:text="${job.getDescription()}"></p>
                    </div>
                    <div class="card-footer" sec:authorize="hasAuthority('CANDIDATE')" th:if="${!applied}">
                        <a class="btn btn-primary" th:href="@{/job/apply/{id}(id=${job.getId()})}">Aplicar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 border-start text-center p-2" th:with="publisher=${job.getPublisher()}">
                <h2 class="text-secondary">Ofertante</h2>
                <hr>
                <div class="ratio ratio-1x1 w-50 mx-auto">
                    <img class="img-thumbnail rounded-circle object-fit-cover" alt="Publisher logo"
                         th:src="${publisher.getLogoUrl()!=null && publisher.isVisible()} ? '/'+${publisher.getLogoUrl()} : '/images/default_user_photo.svg'">
                </div>
                <div th:if="${publisher.isVisible()}">
                    <p class="text-capitalize fs-3 fw-bold text-primary my-3" th:text="${publisher.getCompanyName()}"></p>
                    <p class="text-start fs-5"><i class="text-black-50 bi bi-at me-3"></i><span th:text="${publisher.getEmail()}"></span></p>
                    <a th:href="@{/profile(id=${publisher.getUser().getId()})}">Ver empresa</a>
                </div>
                <div th:unless="${publisher.isVisible()}">
                    <p>Empresa confidencial</p>
                    <p class="text-secondary">Esta empresa ha elegido permanecer oculta para los demás usuarios registrados en la plataforma.</p>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>