<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EmpleoExprés | Empleos</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" />
</head>
<body>
    <nav th:replace="~{fragments/loggedin.html :: navbar }"></nav>
    <div class="m-2">
        <div class="row">
            <div class="col-3">
                <div class="flex-shrink-0 p-3">
                    <form method="POST" th:action="@{/search}" th:object="${filter}">
                        <h2 class="text-center my-3">Filtrado de ofertas</h2>
                        <div class="form-floating">
                            <input id="title" th:field="*{title}" class="form-control" placeholder="Título de la oferta" type="text"/>
                            <label for="title">Título de la oferta</label>
                        </div>
                        <ul class="list-unstyled ps-0">
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                                    Home
                                </button>
                                <div class="collapse show" id="home-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Updates</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Reports</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                    Dashboard
                                </button>
                                <div class="collapse" id="dashboard-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Weekly</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Monthly</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Annually</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                                    Orders
                                </button>
                                <div class="collapse" id="orders-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Processed</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Shipped</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Returned</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="border-top my-3"></li>
                            <li class="mb-1">
                                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                                    Account
                                </button>
                                <div class="collapse" id="account-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New...</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li>
                                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button class="btn btn-lg btn-primary" type="submit">Filtrar</button>
                    </form>
                </div>
            </div>
            <div class="col-9 p-4 ps-1">
                <h2 class="text-center">Búsqueda de empleo</h2>
                <p class="fw-lighter">Filtra para obtener ofertas más personalizadas.</p>
                <div class="row row-cols-1 row-cols-md-2 g-3">
                    <div class="col" th:each="job : ${jobList.content}">
                        <div class="card h-100" th:with="publisher=${job.getPublisher()}">
                            <div class="card-header" sec:authorize="hasAnyAuthority('PUBLISHER', 'ADMIN')">
                                <!-- Edit, delete job for publishers and admins -->
                            </div>
                            <div class="row g-0 ps-1">
                                <div class="col-md-2 d-flex align-items-center justify-content-center">
                                    <img th:src="${ (publisher.getLogoUrl()!=null && publisher.isVisible()) ? publisher.getLogoUrl() : '/images/default_user_photo.svg'}"
                                         class="img-fluid rounded-start w-100" alt="logo">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-2">
                                        <h5 class="card-title" th:text="${job.title}"></h5>
                                        <p class="card-text">
                                            <small class="text-body-secondary" th:text="${publisher.isVisible() ? publisher.getCompanyName() : 'Empresa confidencial'}"></small>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2 pt-2 pe-2 text-end">
                                    <span class="badge text-bg-success" th:unless="${job.isAllJobMode()}"
                                          th:text="${job.getJobMode().getModality()}"></span>
                                    <span class="badge text-bg-primary" th:text="${job.getState().getState()}"></span>
                                </div>
                            </div>
                            <div class="h-100 p-1">
                                <div class="row" id="job-icon-details">
                                    <div class="col">
                                        <p><i class="bi bi-currency-dollar"></i> <span th:text="${#numbers.formatInteger(job.getSalary(),0,'POINT')}"></span> COP</p>
                                    </div>
                                    <div class="col">
                                        <p><i class="bi bi-stopwatch-fill"></i> <span th:text="${job.getYearsOfExperience() == 0 ? '0' : job.getYearsOfExperience()}"></span> años</p>
                                    </div>
                                    <div class="col" th:if="${job.getLocation()!=null}">
                                        <p><i class="bi bi-geo-alt-fill"></i> <span th:text="${job.getLocation().getName()}"></span></p>
                                    </div>
                                </div>
                                <div class="mx-2">
                                    <p><strong>Profesión relacionada:</strong> <span th:text="${job.getProfession().getCertificateName()}"></span></p>
                                    <p class="card-text" th:text="${job.getTruncateDescription(200)}"></p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary" th:text="${job.getPubDateTime()}"></small>
                                <a th:href="@{/job/{id}(id=${job.getId()})}" class="btn btn-outline-info float-end">Consultar oferta</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center my-2"><span th:text="${jobList.getTotalElements()}"></span> resultados de búsqueda.</p>
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${jobList.getNumber()==0} ? 'disabled' : ''">
                            <a class="page-link" th:href="@{/search(p=${jobList.getNumber()-1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previo</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="i: ${#numbers.sequence(-2, 2)}"
                            th:unless="${(jobList.getNumber()+i) < 0 || (jobList.getNumber()+i) > jobList.getTotalPages()-1}"
                            th:classappend="${i==0 ? 'active': ''}">
                            <a class="page-link" th:href="@{/search(p=${jobList.getNumber()+i})}"
                                th:text="${jobList.getNumber()+i+1}"></a>
                        </li>
                        <li class="page-item" th:classappend="${jobList.getNumber()==jobList.getTotalPages()-1} ? 'disabled' : ''">
                            <a class="page-link" th:href="@{/search(p=${jobList.getNumber()+1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-select.min.js}"></script>
</body>
</html>