<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in with your account</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mt-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/logoempexp.png" alt="EmpleoExprés Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/about">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Empleos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/support">Soporte</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="btn btn-outline-info" href="/signin">Registrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-bg-info p-5">
        <div class="card text-bg-light col-md-6 my-5 offset-md-3 p-5">
            <div class="card-body">
                <form method="POST" th:action="@{/login}" class="my-form">
                    <h2 class="text-center mb-3">Iniciar sesión</h2>
                    <!-- $ variables @ links -->
                    <div class="text-center">
                        <div th:class="'form-group'+${error != null ? ' '+'has-error' : ''}">
                            <span class="text-primary" th:text="${message}" th:if="${message!=null}"></span>
                            <input name="email" type="text" class="form-control mb-3" placeholder="Email" autofocus="true" />
                            <input name="password" type="password" class="form-control mb-3" placeholder="Password" />
                            <span class="text-danger d-block mb-3" th:text="${error}" th:if="${error!=null}"></span>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        </div> <!-- https://www.baeldung.com/spring-security-remember-me -->
                        <div class="form-check text-start">
                            <input name="remember-me" class="form-check-input" type="checkbox" value="" id="rememberme-check">
                            <label class="form-check-label" for="rememberme-check">Recuérdame</label>
                        </div>
                        <button class="btn btn-lg btn-primary" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>