<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EmpleoExprés | Perfil</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.0.1/css/datepicker.css}" />
</head>
<body>
    <nav th:replace="~{fragments/loggedin.html :: navbar }"></nav>
    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Atención!</strong> <span th:text="${successMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container-fluid m-3">
        <a class="btn text-info" th:href="@{/home}"><i class="bi bi-arrow-left-square"></i> Volver</a>
        <div class="pt-3 mx-4 text-center">
            <div class="row me-2">
                <div class="col-4 border-end">
                    <div th:replace="~{fragments/user-profile.html :: ${user.isPublisher()} ? publisher-main-panel : candidate-main-panel}"></div>
                </div>
                <div class="col-8 max-vh-75 overflow-y-auto">
                    <div th:replace="~{fragments/user-profile.html :: ${user.isPublisher()} ? publisher-info-panel : candidate-info-panel}"></div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datepicker/1.0.1/js/bootstrap-datepicker.js}"></script>
</body>
</html>