<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EmpleoExprés | Perfil</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <nav th:replace="~{fragments/loggedin.html :: navbar }"></nav>
    <div class="container-fluid m-3">
        <a class="btn text-info" th:href="@{/home}"><i class="bi bi-arrow-left-square"></i> Volver</a>
        <div class="pt-3 mx-4 text-center">
            <div class="row me-2">
                <div class="col-4 border-end">
                    <div th:replace="~{fragments/user-profile.html :: ${user.isPublisher()} ? publisher-main-panel : candidate-main-panel}"></div>
                </div>
                <div class="col-8">
                    <div th:replace="~{fragments/user-profile.html :: ${user.isPublisher()} ? publisher-info-panel : candidate-info-panel}"></div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>
</body>
</html>