<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <!-- CANDIDATE SIGNIN FORM FIELDS -->
    <div th:fragment="candidate">
        <div class="row g-3 my-2">
            <div class="col-md-6">
                <div class="form-floating" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid':''">
                    <input id="firstName" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid':''" autofocus="true" class="form-control" type="text" th:field="*{firstName}" placeholder="Nombres (*)">
                    <label for="firstName">Nombres (*)</label>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
            </div>
            <div class="col-md-6">
                <div class="form-floating" th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid':''">
                    <input id="lastName" th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid':''" class="form-control" type="text" th:field="*{lastName}" placeholder="Apellidos (*)">
                    <label for="lastName">Apellidos (*)</label>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
            </div>
        </div>
        <div class="row g-3 my-2">
            <div class="col-md-6">
                <div class='form-floating date' th:classappend="${#fields.hasErrors('birthDate')} ? 'is-invalid':''">
                    <input type='text' class="form-control" placeholder="Fecha de nacimiento (*)" id='birthdatepicker' th:field="*{birthDate}" th:classappend="${#fields.hasErrors('birthDate')} ? 'is-invalid':''" />
                    <label for="birthdatepicker">Fecha de nacimiento (*)</label>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
            </div>
            <div class="col-md-6">
                <div class='form-floating' th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid':''">
                    <input id="phoneNumber" th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid':''" class="form-control" type="text" th:field="*{phoneNumber}" placeholder="Número de teléfono">
                    <label for="phoneNumber">Número de teléfono</label>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
            </div>
        </div>
        <div>
            <div class="form-floating" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid':''">
                <textarea class="form-control" type="text" rows="3" th:field="*{description}" id="profile_description" placeholder="Descripción" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid':''"></textarea>
                <label for="profile_description">Descripción</label>
            </div>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>
        <div class="row g-3 my-1">
            <div class="col-md-4">
                <div class="form-floating" th:classappend="${#fields.hasErrors('preferredModality')} ? 'is-invalid':''">
                    <select th:field="*{preferredModality}" class="form-select" id="preferredJobModality" th:classappend="${#fields.hasErrors('preferredModality')} ? 'is-invalid':''">
                        <option disabled value="" selected="selected">Seleccione una modalidad</option>
                        <option th:each="modality:${jobModalities}" th:value="${modality.name()}" th:text="${modality.getModality()}"></option>
                    </select>
                    <label for="preferredJobModality">Modalidad de trabajo preferida (*)</label>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('preferredModality')}" th:errors="*{preferredModality}"></div>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <label class="input-group-text" for="photo">Foto</label>
                    <input th:classappend="${#fields.hasErrors('photo')} ? 'is-invalid':''" class="form-control" type="file" th:field="*{photo}" placeholder="Logo" id="photo">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}"></div>
                </div>
            </div>
        </div>
        <div class="row g-3 my-2">
            <div class="col-md-6">
                <div class="form-floating" th:classappend="${#fields.hasErrors('address')} ? 'is-invalid':''">
                    <input id="address" th:classappend="${#fields.hasErrors('address')} ? 'is-invalid':''" class="form-control" type="text" th:field="*{address}" placeholder="Dirección">
                    <label for="address">Dirección</label>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
            </div>
            <div class="col-md-6">
                <div class="row" th:classappend="${#fields.hasErrors('placeId')} ? 'is-invalid':''">
                    <div class="col">
                        <label class="py-2">Ciudad (*)</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <select th:field="*{placeId}" class="selectpicker form-control" title="Selecciona una ciudad" th:classappend="${#fields.hasErrors('placeId')} ? 'is-invalid':''" data-live-search="true">
                                <option th:each="place:${places}" th:value="${place.getId()}" th:text="${place.getName()}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('placeId')}" th:errors="*{placeId}"></div>
            </div>
        </div>
        <div class="row g-3 my-1">
            <div class="col-md-8">
                <div class="input-group">
                    <label class="input-group-text" for="cv1">CV #1 (*)</label>
                    <input th:classappend="${#fields.hasErrors('cv1')} ? 'is-invalid':''" class="form-control" type="file" th:field="*{cv1}" id="cv1">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('cv1')}" th:errors="*{cv1}"></div>
                </div>
            </div>
            <div class="col-md-4">
                <p class="d-inline-flex gap-1">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Agregar más CVs
                    </a>
                </p>
            </div>
            <div class="collapse mb-2" id="collapseExample" th:classappend="${(user.getCv2()!=null && !user.getCv2().isEmpty()) || (user.getCv3()!=null && !user.getCv3().isEmpty())} ? 'show' : ''">
                <div class="card card-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-text" for="cv2">CV #2</label>
                                <input th:classappend="${#fields.hasErrors('cv2')} ? 'is-invalid':''" class="form-control" type="file" th:field="*{cv2}" id="cv2">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('cv2')}" th:errors="*{cv2}"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label class="input-group-text" for="cv3">CV #3</label>
                                <input th:classappend="${#fields.hasErrors('cv3')} ? 'is-invalid':''" class="form-control" type="file" th:field="*{cv3}" id="cv3">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('cv3')}" th:errors="*{cv3}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function(event) {
                var d = new Date();
                d.setDate(d.getDate() - 1);
                $("[id*='datepicker']").datepicker({
                    format: 'dd/mm/yyyy',
                    endDate: d
                });
            });
        </script>
    </div>
    <!-- PUBLISHER SIGNIN FORM FIELDS -->
    <div th:fragment="publisher">
        <div class="row g-3 my-2">
            <div class="col-md-4">
                <div class="form-floating" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid':''">
                    <input id="name" class="form-control" type="text" th:field="*{name}" autofocus="true" placeholder="Nombre de empresa (*)" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid':''">
                    <label for="name">Nombre de empresa (*)</label>
                </div>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    <label class="input-group-text" for="logo">Logo</label>
                    <input th:classappend="${#fields.hasErrors('logo')} ? 'is-invalid':''" class="form-control" type="file" th:field="*{logo}" placeholder="Logo" id="logo">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}"></div>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="form-floating" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid':''">
                <textarea class="form-control" type="text" rows="3" th:field="*{description}" id="description" placeholder="Descripción (*)" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid':''"></textarea>
                <label for="description">Descripción (*)</label>
            </div>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        </div>
        <div class="form-check my-2 d-flex">
            <input th:classappend="${#fields.hasErrors('visible')} ? 'is-invalid':''" class="form-check-input me-3" type="checkbox" th:field="*{visible}" id="visible">
            <label class="form-check-label" for="visible">Empresa visible</label>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('visible')}" th:errors="*{visible}"></div>
        </div>
    </div>
    <!-- SELECT USER ROLE SIGNIN COMPONENT -->
    <div th:fragment="select-user-role" class="container-fluid px-5 pt-3">
        <h2 class="text-center mb-3">Registro</h2>
        <div class="d-flex justify-content-center">
            <div class="card cursor-pointer shadow-lg me-5" style="width: 18rem;" th:onclick="|window.location.href='/signin?role=candidate'|">
                <img th:src="@{/images/candidate_photo.jpg}" class="card-img-top card-image" alt="Candidate image">
                <div class="card-body">
                    <h5 class="card-title">Registrarse como candidato</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Elije esta opción si quieres registrarte para buscar empleo en esta plataforma.</p>
                </div>
            </div>
            <div class="card cursor-pointer shadow-lg" style="width: 18rem;" th:onclick="|window.location.href='/signin?role=publisher'|">
                <img th:src="@{/images/company_photo.jpg}" class="card-img-top card-image" alt="Company image">
                <div class="card-body">
                    <h5 class="card-title">Registrarse como empresa</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Elije esta opción si quieres registrarte para registrar ofertas de empleo y reclutar candidatos registrados.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>