<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <!-- Candidate left panel with main info -->
    <div th:fragment="candidate-main-panel">
        <div class="ratio ratio-1x1 w-50 mx-auto">
            <img class="img-thumbnail rounded-circle object-fit-cover" th:src="${candidate.getPhotoUrl()!=null} ? '/'+${candidate.getPhotoUrl()} : '/images/default_user_photo.svg'" alt="User photo"
                 data-bs-toggle="tooltip" data-bs-title="Carga una foto para reemplazar esta imagen">
        </div>
        <div class="text-capitalize text-primary my-3">
            <p class="fs-3 fw-bold mb-0" th:text="${candidate.getFullName()}"></p>
            <p class="fs-5" th:text="${candidate.getPosition()}"></p>
        </div>
        <div class="fs-5 text-start">
            <p class="mb-1"><i class="text-black-50 bi bi-at me-3"></i><span th:text="${user.getEmail()}"></span></p>
            <p class="mb-1"><i class="text-black-50 bi bi-buildings me-3"></i><span th:text="${candidate.getCityName()}"></span></p>
            <p class="mb-1" th:if="${candidate.getPhoneNumber()!=null}">
                <i class="text-black-50 bi bi-telephone me-3"></i><span th:text="${candidate.getPhoneNumber()}"></span>
            </p>
            <p class="mb-1" th:if="${candidate.getAddress()!=null}">
                <i class="text-black-50 bi bi-pin-map-fill me-3"></i><span th:text="${candidate.getAddress()}"></span>
            </p>
            <p class="mb-1"><i class="text-black-50 bi bi-briefcase me-3"></i><span th:text="${candidate.getModality()}"></span></p>
        </div>
        <!-- Download resume?? -->

        <script th:if="${candidate.getPhotoUrl()==null}">
            document.addEventListener("DOMContentLoaded", function(event) {
                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            })
        </script>
    </div>

    <!-- Candidate right panel with additional info -->
    <div th:fragment="candidate-info-panel" class="p-3 text-start me-5">
        <div class="mb-2">
            <p class="fs-3 fw-bold text-primary mb-4">Resumen profesional</p>
            <p th:if="${candidate.getDescription()==null}">No incluída.</p>
            <p th:unless="${candidate.getDescription()==null}" th:text="${candidate.getDescription()}"></p>
        </div>
        <div class="mb-2">
            <p class="d-inline-flex gap-1">
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCvs" aria-expanded="false">
                    Hojas de vida registradas <span class="badge rounded-pill text-bg-success" th:text="${candidate.getCvCount()}"></span>
                </button>
            </p>
            <div class="collapse" id="collapseCvs">
                <div class="card card-body">
                    <div class="list-group ">
                        <a th:href="'/'+${candidate.getCv1Url()}" class="list-group-item list-group-item-action d-flex justify-content-between list-group-item-primary" download>
                            Descargar hoja de vida 1
                            <i class="bi bi-download"></i>
                        </a>
                        <a th:if="${candidate.getCv2Url()!=null}" th:href="'/'+${candidate.getCv2Url()}" class="list-group-item list-group-item-action d-flex justify-content-between list-group-item-primary" download>
                            Descargar hoja de vida 2
                            <i class="bi bi-download"></i>
                        </a>
                        <a th:if="${candidate.getCv3Url()!=null}" th:href="'/'+${candidate.getCv3Url()}" class="list-group-item list-group-item-action d-flex justify-content-between list-group-item-primary" download>
                            Descargar hoja de vida 3
                            <i class="bi bi-download"></i>
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <p>Candidato registrado en: <span th:text="${candidate.getCreatedAtAsString()}"></span></p>
        </div>
        <div class="mb-5" th:with="jobs=${candidate.getJobHistories()}"> <!-- Revisar si no tiene experiencia laboral -->
            <div class="d-flex justify-content-between mb-3">
                <p class="fs-3 fw-bold text-primary mb-0">Experiencia laboral</p>
                <!-- Solo si el objeto usuario autenticado es igual al usuario mostrado ${user} -->
                <button id="toggle-job-offcanvas"
                        th:if="${#authentication.name.compareTo(user.getEmail())==0}"
                        class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#job-form" aria-controls="job-form">
                    Agregar experiencia laboral
                </button>
            </div>
            <p th:if="${jobs.isEmpty()}">No se ha registrado experiencia laboral.</p>
            <!-- Tarjetas con info de historial de empleos -->
            <div th:unless="${jobs.isEmpty()}" class="row row-cols-1 row-cols-md-2 g-4">
                <div th:each="job : ${jobs}" class="col">
                    <div class="card border-info h-100">
                        <div class="card-body">
                            <form th:action="@{/job-history/{jobHistoryId}(jobHistoryId = ${job.getId()})}" th:method="delete" >
                                <button type="submit" class="btn btn-outline-danger float-end">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </form>
                            <h5 class="card-title" th:text="${job.getPosition()}"></h5>
                            <div class="card-text">
                                <p th:text="${job.getDescription()}"></p>
                                <p><strong>Fecha de inicio: </strong><span th:text="${job.getInitDate()}"></span></p>
                                <p th:if="${job.getEndDate()!=null}"><strong>Fecha de finalización: </strong><span th:text="${job.getEndDate()}"></span></p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">
                                <span th:if="${job.getEndDate()==null}">Empleo actual</span>
                                <span th:unless="${job.getEndDate()==null}">Empleo finalizado</span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div th:with="studies=${candidate.getStudies()}">
            <div class="d-flex justify-content-between mb-3">
                <p class="fs-3 fw-bold text-primary mb-0">Educación</p>
                <!-- Solo si el objeto usuario autenticado es igual al usuario mostrado ${user} -->
                <button id="toggle-study-offcanvas"
                        th:if="${#authentication.name.compareTo(user.getEmail())==0}"
                        class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#study-form" aria-controls="study-form">
                    Agregar estudio
                </button>
            </div>
            <p th:if="${studies.isEmpty()}">No se ha registrado ningún estudio.</p>
            <!-- Tarjetas con info de educación -->
            <div th:unless="${studies.isEmpty()}" class="row row-cols-1 row-cols-md-2 g-4">
                <div th:each="study : ${studies}" class="col">
                    <div class="card border-info h-100">
                        <div class="card-body">
                            <form th:action="@{/study/{candidateStudyId}(candidateStudyId = ${study.getStudyId()})}" th:method="delete" >
                                <button type="submit" class="btn btn-outline-danger float-end">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </form>
                            <h5 class="card-title" th:text="${study.getCertificateName()}"></h5>
                            <div class="card-text">
                                <p><strong th:text="${study.getEntityName()}"></strong></p>
                                <p th:if="${study.getDescription()!=null}" th:text="${study.getDescription()}"></p>
                                <p><strong>Fecha de inicio: </strong><span th:text="${study.getStartDate()}"></span></p>
                                <p th:if="${study.getEndDate()!=null}"><strong>Fecha de finalización: </strong><span th:text="${study.getEndDate()}"></span></p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">
                                <span th:if="${study.getEndDate()==null}">Estudiando actualmente</span>
                                <span th:unless="${study.getEndDate()==null}">Estudio finalizado</span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Formulario creación/edición trabajo -->
        <div class="offcanvas offcanvas-end p-3 overflow-auto" tabindex="-1" id="job-form" aria-labelledby="jobform-title">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="jobform-title">Insertar nueva experiencia laboral</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form method="POST"
                      th:action="@{/job-history}" th:object="${newJhistory}" class="my-form">
                    <h3 class="text-center my-3">Ingrese la información solicitada a continuación</h3>
                    <div class="text-center">
                        <div class="mb-2">
                            <div class="form-floating" th:classappend="${#fields.hasErrors('position')} ? 'is-invalid':''">
                                <input id="position" th:field="*{position}" class="form-control" placeholder="Posición (*)" type="text" th:classappend="${#fields.hasErrors('position')} ? 'is-invalid':''" />
                                <label for="position">Posición (*)</label>
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></div>
                        </div>
                        <div class="mb-2">
                            <div class="form-floating" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid':''">
                                <textarea id="description" th:field="*{description}" class="form-control" placeholder="Descripción (*)" type="text" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid':''"></textarea>
                                <label for="description">Descripción (*)</label>
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                        </div>

                        <!-- initDate y endDate -->
                        <div class="mb-2">
                            <div class='form-floating date' th:classappend="${#fields.hasErrors('initDate')} ? 'is-invalid':''">
                                <input type='text' class="form-control" placeholder="Fecha de inicio (*)" id='initdatepicker' th:field="*{initDate}" th:classappend="${#fields.hasErrors('initDate')} ? 'is-invalid':''" />
                                <label for="initdatepicker">Fecha de inicio (*)</label>
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('initDate')}" th:errors="*{initDate}"></div>
                        </div>

                        <div class="mb-2">
                            <div class='form-floating date' th:classappend="${#fields.hasErrors('endDate')} ? 'is-invalid':''">
                                <input type='text' class="form-control" placeholder="Fecha de finalización" id='enddatepicker' th:field="*{endDate}" th:classappend="${#fields.hasErrors('endDate')} ? 'is-invalid':''" />
                                <label for="enddatepicker">Fecha de finalización</label>
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
                        </div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                        <button class="btn btn-lg btn-primary" type="submit">Registrar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Formulario creación/edición estudios -->
        <div class="offcanvas offcanvas-end p-3 overflow-auto" tabindex="-1" id="study-form" aria-labelledby="studyform-title">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="studyform-title">Insertar estudio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form method="POST"
                      th:action="@{/study}" th:object="${candidateStudy}" class="my-form">
                    <h3 class="text-center my-3">Ingrese la información solicitada a continuación</h3>
                    <div class="text-center">
                        <div class="mb-2">
                            <div class="row" th:classappend="${#fields.hasErrors('studyId')} ? 'is-invalid':''">
                                <div class="col">
                                    <label class="py-2">Ciudad (*)</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <select th:field="*{studyId}" class="selectpicker form-control" title="Seleccione un estudio" th:classappend="${#fields.hasErrors('studyId')} ? 'is-invalid':''" data-live-search="true">
                                            <option th:each="study:${studies}" th:value="${study.getId()}" th:text="${study.getCertificateName()}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('studyId')}" th:errors="*{studyId}"></div>
                        </div>

                        <div class="mb-2">
                            <div class="form-floating" th:classappend="${#fields.hasErrors('entityName')} ? 'is-invalid':''">
                                <input id="entityName" th:field="*{entityName}" class="form-control" placeholder="Nombre de entidad (*)" type="text" th:classappend="${#fields.hasErrors('entityName')} ? 'is-invalid':''" />
                                <label for="entityName">Nombre de entidad (*)</label>
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('entityName')}" th:errors="*{entityName}"></div>
                        </div>

                        <!-- initDate y endDate -->
                        <div class="mb-2">
                            <div class='form-floating date' th:classappend="${#fields.hasErrors('initDate')} ? 'is-invalid':''">
                                <input type='text' class="form-control" placeholder="Fecha de inicio (*)" id='initdatepicker2' th:field="*{initDate}" th:classappend="${#fields.hasErrors('initDate')} ? 'is-invalid':''" />
                                <label for="initdatepicker2">Fecha de inicio (*)</label>
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('initDate')}" th:errors="*{initDate}"></div>
                        </div>

                        <div class="mb-2">
                            <div class='form-floating date' th:classappend="${#fields.hasErrors('endDate')} ? 'is-invalid':''">
                                <input type='text' class="form-control" placeholder="Fecha de finalización" id='enddatepicker2' th:field="*{endDate}" th:classappend="${#fields.hasErrors('endDate')} ? 'is-invalid':''" />
                                <label for="enddatepicker2">Fecha de finalización</label>
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
                        </div>

                        <div class="mb-2">
                            <div class="form-floating" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid':''">
                                <textarea id="description2" th:field="*{description}" class="form-control" placeholder="Descripción (*)" type="text" th:classappend="${#fields.hasErrors('description')} ? 'is-invalid':''"></textarea>
                                <label for="description2">Descripción (*)</label>
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                        </div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                        <button class="btn btn-lg btn-primary" type="submit">Registrar</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                var d = new Date();
                d.setDate(d.getDate() - 1);
                $("[id*='datepicker']").datepicker({
                    format: 'dd/mm/yyyy',
                    endDate: d
                })
            });
        </script>
        <script th:if="${jobOffcanvas!=null}">
            document.addEventListener("DOMContentLoaded", function(event) {
                document.getElementById('toggle-job-offcanvas').click();
            })
        </script>
        <script th:if="${studyOffcanvas!=null}">
            document.addEventListener("DOMContentLoaded", function(event) {
                document.getElementById('toggle-study-offcanvas').click();
            })
        </script>

    </div>

    <!-- Publisher left panel with main info -->
    <div th:fragment="publisher-main-panel">
        <div class="ratio ratio-1x1 w-50 mx-auto">
            <img class="img-thumbnail rounded-circle object-fit-cover" th:src="${publisher.getLogoUrl()!=null} ? '/'+${publisher.getLogoUrl()} : '/images/default_user_photo.svg'" alt="User photo"
                 data-bs-toggle="tooltip" data-bs-title="Carga un logo para reemplazar esta imagen">
        </div>
        <p class="text-capitalize fs-3 fw-bold text-primary my-3" th:text="${publisher.getCompanyName()}"></p>
        <p class="text-start fs-5"><i class="text-black-50 bi bi-at me-3"></i><span th:text="${user.getEmail()}"></span></p>
        <script th:if="${publisher.getLogoUrl()==null}">
            document.addEventListener("DOMContentLoaded", function(event) {
                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            })
        </script>
    </div>

    <!-- Publisher right panel with additional info -->
    <div th:fragment="publisher-info-panel" class="p-3 text-start mx-5">
        <p class="fs-3 fw-bold text-primary mb-4">Descripción de la empresa</p>
        <p th:text="${publisher.getDescription()}"></p>
        <hr>
        <p>Empresa creada en: <span th:text="${publisher.getCreatedAtAsString()}"></span></p>
        <p>Más info? Num de trabajos publicados, fecha de registro</p>
    </div>

</body>

</html>