@import url("./bootstrap-icons.min.css");

h1.index-title {
    font-size: 4rem;
}

.cursor-pointer {
    cursor: pointer;
}

img.card-image {
    height: 20vw;
}

.h-fit-content {
    height: fit-content !important;
}

.max-vh-75 {
    max-height: 75vh !important;
}